In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
from sklearn.model_selection import train_test_split
from clean_data import create_new_features, get_plate_info, get_government_series

In [2]:
df = pd.read_csv("data/train.csv")
df.head(10)

   id      plate                 date   price
0   1  X059CP797  2024-12-26 00:00:00   65000
1   2  Y800MH790  2024-07-12 21:31:37  100000
2   3   A212TX77  2024-04-18 00:00:00  290000
3   4  P001AY199  2025-01-03 00:27:15  680000
4   5  P001AY199  2025-01-10 09:32:41  750000
5   6  B400BB750  2022-04-09 00:00:00   50000
6   7  P666OM790  2024-11-14 00:00:00  300000
7   8  C080KP777  2021-06-10 12:30:00  300000
8   9  E737AY550  2024-07-31 00:00:00   60000
9  10  C001KK750  2024-07-09 08:48:39  420000

In [3]:
new_df = create_new_features(df)

In [7]:
gov_df = new_df[new_df['government_plate'] == 1]
gov_df

,id,plate,date,price,government_plate,serial_number,forbidden_to_buy,have_advantage,significance_level,region,category,year,month,day,before_midday
632,633,M357OO25,2024-07-28 00:00:00,2000000,1,357,0,1,2,Primorsky Krai,Partially plates for Krai agencies of the Depa...,2024,7,28,1
734,735,M179OO77,2025-01-10 00:00:00,3800000,1,179,0,1,6,Moscow,Partially Presidential Administrative Director...,2025,1,10,1
773,774,O748OO77,2025-02-04 00:00:00,2300000,1,748,0,0,1,Moscow,Initially intended for Federal Security Service,2025,2,4,1
1056,1057,A945MP77,2023-08-01 19:48:47,5000000,1,945,0,1,8,Moscow,Partially Government of Russia,2023,8,1,0
1274,1275,O090OO61,2024-12-03 00:00:00,9500000,1,090,0,1,4,Rostov Oblast,Partially plates of the Oblast Legislative Ass...,2024,12,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51055,51056,K592MP77,2025-02-11 00:00:00,1350000,1,592,0,1,3,Moscow,Partially Government of Russia plates,2025,2,11,1
51122,51123,K548KK99,2023-01-09 00:00:00,200000,1,548,0,0,1,Moscow,"Initially belonged to Courier Service, now use...",2023,1,9,1
51254,51255,A686MP77,2024-10-11 00:00:00,13000000,1,686,0,1,8,Moscow,Partially Government of Russia,2024,10,11,1
51264,51265,X784XX77,2022-10-25 00:00:00,850000,1,784,0,1,2,Moscow,Private individuals with connections in the tr...,2022,10,25,1
51480,51481,X222XX77,2023-07-30 12:07:31,6000000,1,222,0,1,2,Moscow,Private individuals with connections in the tr...,2023,7,30,0