In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import cm
from sklearn.model_selection import train_test_split
from data.supplemental_english import GOVERNMENT_CODES, REGION_CODES

In [12]:
df = pd.read_csv("data/train.csv")
df.head(10)

   id      plate                 date   price
0   1  X059CP797  2024-12-26 00:00:00   65000
1   2  Y800MH790  2024-07-12 21:31:37  100000
2   3   A212TX77  2024-04-18 00:00:00  290000
3   4  P001AY199  2025-01-03 00:27:15  680000
4   5  P001AY199  2025-01-10 09:32:41  750000
5   6  B400BB750  2022-04-09 00:00:00   50000
6   7  P666OM790  2024-11-14 00:00:00  300000
7   8  C080KP777  2021-06-10 12:30:00  300000
8   9  E737AY550  2024-07-31 00:00:00   60000
9  10  C001KK750  2024-07-09 08:48:39  420000

In [11]:
# Create training and validation dataset
X = np.array(df[[col for col in df.columns if col != 'price' and col != 'id']])
y = np.array(df['price'])
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [65]:
def get_government_series():
    gov_series = set()
    special_gov_series = {}
    for key in GOVERNMENT_CODES:
        gov_series.add(key[0])
        if key[1] != (0, 999):
            if ((key[0], key[2])) not in special_gov_series:
                special_gov_series[(key[0], key[2])] = []
            special_gov_series[(key[0], key[2])].append(key[1])
    return gov_series, special_gov_series

In [67]:
gov, special = get_government_series()
special

{('CAC', '77'): [(500, 999)],
 ('MMP', '77'): [(300, 320), (0, 299), (321, 999)],
 ('OKO', '78'): [(0, 100), (700, 999)],
 ('OKO', '98'): [(0, 100), (700, 999)],
 ('AAA', '78'): [(0, 100)],
 ('AAA', '98'): [(0, 100)],
 ('OOO', '78'): [(0, 899), (900, 999)],
 ('OOO', '98'): [(0, 899), (900, 999)],
 ('AAA', '54'): [(0, 199), (200, 999)]}

In [64]:
def get_region(region_code):
    for region in REGION_CODES:
        for code in REGION_CODES[region]:
            if code == region_code:
                return region
    return "NAN"

In [ ]:
def get_plate_info(plate):
    series1 = plate[0]
    serial_number = plate[1:4]
    series2 = plate[4:6]
    region_code = plate[6:]
    
    '''
    We want to get:
    + region
    + series number
    + is it government plate or not
    + is it forbidden to buy
    + does it have advantage
    + category
    '''
    gov_series, special_gov_series = get_government_series()
    series = series1 + series2
    if series not in gov_series:
        info["government_plate"] = 0
        info["serial_number"] = serial_number
        info["forbidden_to_buy"] = 0
        info["have_advantage"] = 0 
        info["significance_level"] = 0
        info["region"] = get_region(region_code)
        info["category"] = "Normal plate"
    else:
        info["government_plate"] = 1 
        if (series, region_code) in special_gov_series:
            for r in special_gov_series[(series, region_code)]:
                if serial_number 
            series_range = 
    
 

    info = {}   

    return info

{'series1': 'X', 'serial_number': '059', 'series2': 'CP', 'region_code': '797'}